{{ define "main" -}}
<section class="flex flex-col text-center py-24 bg-gray-300">
	<h2 class="text-5xl">Hey there. I'm George.</h2>
	<p class="text-2xl">I do tech stuff in the cloud, especially with Sitecore.</p>
</section>
<section class="flex flex-col items-center">
	{{ range .Paginator.Pages.ByDate.Reverse -}}
	<article class="flex flex-col my-8 w-2/3">
		<h3 class="font-semibold">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h3>
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="text-sm italic">
			{{ .Date.Format "Monday, January 2, 2006" }}
		</time>
		{{ .Summary }}
		{{ if .Truncated }}
		<div class="hover:underline">
			<a href="{{ .RelPermalink }}">Read More…</a>
		</div>
		{{ end }}
	</article>
	{{- end }}
</section>
<section class="flex flex-col items-center">
	{{ template "_internal/pagination.html" . }}
</section>
{{- end }}