@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply text-blue-900;
  }

  a:hover {
    @apply underline;
  }

  p code {
    word-break: break-word;
  }
}

@layer components {
  .mermaid {
    @apply mb-8 max-w-full-border;
  }

  .mermaid svg {
    max-width: calc(100vw - 4rem) !important;
    width: unset;
    height: unset;
  }

  .article {
    @apply flex flex-col items-center;
  }

  .article-body {
    @apply mx-8 my-8 max-w-full-border;
  }

  .article-date {
    @apply text-lg italic block text-center;
  }

  .article-content {
    @apply flex flex-col mb-16;
  }

  .header {
    @apply flex flex-row justify-between bg-gradient-to-b from-white py-4 px-4 top-0 items-center;
  }

  .header .navigation {
    @apply flex flex-row items-center;
  }

  .header .navigation .title h1 {
    @apply whitespace-no-wrap;
  }

  footer {
    @apply flex flex-row justify-between items-center h-32 bg-gray-500 p-12;
  }

  ul.social {
    @apply flex flex-row;
  }

  ul.social svg {
    @apply w-6 fill-current text-gray-700;
  }

  .pagination-block {
    @apply flex flex-col items-center;
  }

  ul.pagination {
    @apply flex flex-row my-8;
  }

  li.page-item {
    @apply mx-4 text-xl;
  }

  li.page-item.active {
    @apply font-bold;
  }

  li.page-item.disabled {
    @apply text-gray-400;
  }

  .jumbotron {
    @apply flex flex-col text-center px-8 py-16 bg-gray-300;
  }

  .jumbotron h2 {
    @apply text-5xl mb-4 leading-snug;
  }

  .jumbotron p {
    @apply text-2xl;
  }

  .article-list {
    @apply flex flex-col items-center mx-8 my-4;
  }

  .article-list-item {
    @apply my-4 w-full;
  }

  @screen sm {
    .article-list {
      @apply mx-0;
    }

    .article-body {
      @apply my-8;
    }

    .article-list-item {
      @apply max-w-2/3;
    }

    .jumbotron {
      @apply py-24;
    }

    ul.social svg {
      @apply w-8;
    }
  }

  @screen md {
    .article-body {
      @apply mx-8 my-16 max-w-full-text;
    }

    .article-list-item {
      @apply max-w-1/2;
    }
  }

  @screen lg {
    .header {
      @apply px-12 sticky;
    }

    .article-body {
      @apply my-20;
    }

    .article-list-item {
      @apply max-w-1/3;
    }
  }
}
