@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply text-blue-900;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  .mermaid {
    @apply mb-8;
    max-width: calc(100vw - 2rem);
  }

  .mermaid svg {
    @apply max-w-2xl;
    width: unset;
    height: unset;
  }

  article.prose pre {
    @apply my-0;
    max-width: calc(100vw - 2rem);
  }

  article.prose ol {
    @apply my-0;
  }

  article.prose blockquote p:first-of-type::before,
  article.prose blockquote p:first-of-type::after {
    content: "";
  }

  ul.social {
    @apply flex flex-row;
  }

  ul.social svg {
    @apply w-8 fill-current text-gray-700;
  }

  ul.pagination {
    @apply flex flex-row my-8;
  }

  li.page-item {
    @apply mx-4 text-xl;
  }

  li.page-item.active {
    @apply font-bold;
  }

  li.page-item.disabled {
    @apply text-gray-400;
  }
}
