<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if .IsHome -}}
<title>{{ .Site.Title }}</title>
{{- else -}}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{- end }}
<meta name="description"
	content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />

{{ if .IsPage -}}
{{ partial "json-ld.html" . }}
{{- end }}

{{ $css := resources.Get "css/tailwind.css" }}
{{ $style := $css | resources.PostCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}">
<script src="https://kit.fontawesome.com/49edb05e8f.js" crossorigin="anonymous"></script>

{{ if (.Params.mermaid) }}
<!-- MermaidJS support -->
<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
	var config = {
		startOnLoad: true,
		flowchart: {
			useMaxWidth: true,
			htmlLabels: true
		}
	};
	mermaid.initialize(config);
</script>
{{ end }}