<meta charset="UTF-8">
<script nonce='h8eNemzWevuIBKu0l4nH'>(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; var n = d.querySelector('[nonce]');
		n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce')); f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', '{{ $.Site.Params.GoogleTagManager }}');</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ if .IsHome -}}
<title>{{ .Site.Title }}</title>
{{- else -}}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{- end }}
<meta name="description"
	content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}" />

{{ if .IsPage -}} {{ partial "json-ld.html" . }} {{- end }}

{{ $tailwind := resources.Get "css/tailwind.css" | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $tailwind.Permalink }}" />
{{ if (.Params.mermaid) }}
<!-- MermaidJS support -->
<script defer src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
	var config = {
		startOnLoad: true,
		flowchart: {
			useMaxWidth: true,
			htmlLabels: true,
		},
	};
	mermaid.initialize(config);
</script>
{{ end }}