<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-289264-6"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-289264-6');
</script>

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if .IsHome -}}
<title>{{ .Site.Title }}</title>
{{- else -}}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{- end }}
<meta name="description"
	content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />

{{ if .IsPage -}}
{{ partial "json-ld.html" . }}
{{- end }}

<script defer src="/sw.js"></script>
{{ $css := resources.Get "css/tailwind.css" | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}">
{{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}">
{{ if (.Params.mermaid) }}
<!-- MermaidJS support -->
<script defer src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
	var config = {
		startOnLoad: true,
		flowchart: {
			useMaxWidth: true,
			htmlLabels: true
		}
	};
	mermaid.initialize(config);
</script>
{{ end }}