{{ define "main" -}}
<section class="jumbotron">
	<h2>Hey there. I'm George.</h2>
	<p>I do tech stuff in the cloud, especially with Sitecore.</p>
</section>
<section class="article-list">
	{{ range .Paginator.Pages.ByDate.Reverse -}}
	<article class="article-list-item">
		<h3 class="font-semibold">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h3>
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="text-sm italic block mb-2">
			{{ .Date.Format "Monday, January 2, 2006" }}
		</time>
		{{ .Summary }}
		{{ if .Truncated }}
		<div class="article-read-more">
			<a href=" {{ .RelPermalink }}" class="link">Read More <span class="arrow">🡒</span></a>
		</div>
		{{ end }}
	</article>
	{{- end }}
</section>
<section class="pagination-block">
	{{ template "_internal/pagination.html" . }}
</section>
{{- end }}